@{
    Layout = "~/Views/Shared/_Layout_deslogada.cshtml";
    ViewData["Title"] = "Pagina Restrita";
}

<div class="text-center">
    <p>Esta é a área restrita do sistema.</p>
    <a asp-controller="Home" asp-action="Index">Clique para voltar.</a>
</div>



